{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "electron"
        ]
      }
    ],
    "linebreak-style": 0,
    "spaced-comment": [
      "error",
      "always"
    ],
    "no-console": 0,
    "object-curly-newline": 0,
    "object-curly-spacing": 0
  }
}
